<form action="{{url_for('simulation_watch_history')}}" method="post" class="modal fade" id="SimWatchHistoryDialog" tabindex="-1" role="dialog" aria-labelledby="SimWatchHistoryDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Simulate Watch History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <legend class="col-form-label col-sm-4 pt-0">Choose Operation:</legend>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Operation" id="WatchHistoryOp1" value="UsePatterns" checked>
                            <label class="form-check-label" for="WatchHistoryOp1">Preset Patterns</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Operation" id="WatchHistoryOp2" value="Random">
                            <label class="form-check-label" for="WatchHistoryOp2">Random Generator</label>
                        </div>
                    </div>
                </div>
                <div class="row WatchHistory_Hide">
                    <div class="col-sm-6">
                        <label for="customRange3" class="pr-2">Minimum Per User:</label><output>10</output>
                        <input type="range" class="custom-range" min="0" max="20" step="1" name="MinEntries" value="10" oninput="this.previousElementSibling.value = this.value">
                    </div>
                    <div class="col-sm-6">
                        <label for="customRange3" class="pr-2">Maximum Per User:</label><output>45</output>
                        <input type="range" class="custom-range" min="20" max="100" step="1" name="MaxEntries" value="45" oninput="this.previousElementSibling.value = this.value">
                    </div>
                </div>
                <div class="row WatchHistory_Hide">
                    <div class="col-sm-12">
                        <label for="customRange3" class="pr-2">Probability of Recommendations:</label><output>20%</output>
                        <input type="range" class="custom-range" min="0" max="100" step="5" name="ProbFrequency" value="25" oninput="this.previousElementSibling.value = this.value + '%'">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Run Simulation</button>
            </div>
        </div>
    </div>
</form>
<script>
var radioInputs = document.querySelectorAll('form[id="SimWatchHistoryDialog"] input[name="Operation"]');
radioInputs.forEach(function(input) {
    input.addEventListener('change', function() {
        var operation2Checked = document.getElementById("WatchHistoryOp2").checked;
        if (operation2Checked) displayWatchHistoryOptions();
        else displayWatchHistoryOptions("none");
    });
});

function displayWatchHistoryOptions(display = "") {
    var objects = document.querySelectorAll('.WatchHistory_Hide');
    objects.forEach(function(obj) { obj.style.display = display; });
}

displayWatchHistoryOptions("none");
</script>