{% extends "base.html" %}
{% block content %}
<h1>FlixPicks Database</h1>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">API Documentation</h5>
            <p class="card-text">API Documentation for how to read and write information in this database.</p>
        </div>
        <div class="card-footer">
            <a href="/api/docs" class="btn btn-primary btn-sm" target="_blank">API Docs</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Data Tables</h5>
            <p class="card-text">Used to display current data stored in each table.</p>
        </div>
        <div class="card-footer">
            <a href="{{url_for('all_tables')}}" class="btn btn-primary btn-sm">Data Tables</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Run Simulations</h5>
            <p class="card-text">Simulations to generate sample data for testing and prototype demonstration.</p>
        </div>
        <div class="card-footer">
            <a href="{{url_for('simulation')}}" class="btn btn-primary btn-sm">Simulations</a>
        </div>
    </div>
</div>

{% endblock %}