{% extends "base.html" %}
{% block content %}
<h1>Run Simulations</h1>
{% if result %}
    {% if result.error %}
        <div class="alert alert-danger" role="alert">{{ result.message }}</div>
    {% else %}
        <div class="alert alert-success" role="alert">{{ result.message }}</div>
    {% endif %}
{% else %}
    <div class="alert alert-primary" role="alert">Use the options below to generate simulated data for prototype demonstration.</div>
{% endif %}
<a href="{{url_for('simulation_users')}}" class="btn btn-primary btn-sm">Generate Users</a>
<a href="{{url_for('simulation_watch_history')}}" class="btn btn-primary btn-sm">Generate Watch History</a>
<a href="{{url_for('simulation_patterns_watch_history')}}" class="btn btn-primary btn-sm">Generate Patterns in Watch History</a>
<a href="{{url_for('simulation_recommendations')}}" class="btn btn-primary btn-sm">Populated Recommendations</a>
{% endblock %}