{% extends "base.html" %}
{% block content %}
<h1>Run Simulations</h1>
{% if result %}
    {% if result.error %}
        <div class="alert alert-danger" role="alert">{{ result.message }}</div>
    {% else %}
        <div class="alert alert-success" role="alert">{{ result.message }}</div>
    {% endif %}
{% else %}
    <div class="alert alert-primary" role="alert">Use the tools below to generate simulated data for prototype demonstration.</div>
{% endif %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <h3>FlixPicks Users</h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SimUsersDialog">Generate Users</button>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h3>Watch History</h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SimWatchHistoryDialog">Generate Watch History</button>
            <a href="{{url_for('clear_watch_history')}}" class="btn btn-primary">Clear Watch History</a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h3>Recommendations</h3>
            <a href="{{url_for('simulation_recommendations')}}" class="btn btn-primary">Populated Recommendations</a>
            <a href="{{url_for('clear_recommendations')}}" class="btn btn-primary">Clear Recommendations</a>
        </div>
    </div>
</div>
{% include 'dialogs/SimulateUsers.html' %}
{% include 'dialogs/SimulateWatchHistory.html' %}
{% endblock %}